@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
	font-family: poppins;
	background-color: #191d29;
	display: flex;
	flex-direction: column;
	margin: auto;
	align-items: center;
	justify-content: center;
	height: 80vh;
}

#podcast-tab {
	width: 20%;
}

h1 {
	color: white;
}
